<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактор проектов</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container" style="margin-top: 15px;" id="app">
    <h3>Список проектов</h3>
    <a href="/editor/add">Добавить проект</a>
        {% for project in projects %}

        <div class="card" style="min-width: 100%;">
            <div class="card-body">
                <h5 class="card-title">{{ project.title }}</h5>
                <p class="card-text">{{project.description }}</p>
                <p class="card-text text-muted small">{{project.tags }}</p>

                <a href="/editor/{{ project.id }}/edit" class="btn btn-sm btn-info">Изменить</a>
                <a onclick="return confirm('Точно удалить?')" href="/editor/{{ project.id }}/delete"
                   class="btn btn-sm btn-danger">Удалить</a>
            </div>
        </div>
    {% endfor %}
</div>

</body>
</html>